__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/

*.log
logs/
*.out

.vscode/
.idea/
*.swp
*.swo

.DS_Store

.env
.venv/

*.fzz

models/*.pt
models/*.tflite
models/*.task
models/*.onnx
models/*_ncnn_model/
scripts/*.pt
scripts/*_ncnn_model/

data/snapshots/
tabler--tabler-core-1.4.0/

.ai/*
tmp/*
